@media only screen and (min-width: 1300px) {
    .bg-black {
        background: url("../img/background/black-laptop-l.svg");
        height: 2205px;
        width: 100%;
    
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .bg-violet {
        height: 1410px;
    }

    .main__brief p {
        margin: 20px 100px 0 0;
    }

    .skillsSection {
        padding: 0 10%;
    }
    
    .container {
        max-width: 100%;
    }
    
    .navBar__links li {
        padding: 1rem 2rem;
    }

    .aboutMeSection {
        padding: 0 10%;
    }
}